$selectedColor : blue;
$canvasHeight : 800px;
$canvasWidht : 700px;

.main{
    // background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chat-bar{
    width: 300px;
    background-color: rgb(180, 197, 159);
}

.players-bar{
    background-color: rgb(128, 115, 115);
    width: 300px;
}

.DrawingBoardRoot{
    display: flex;
    flex-direction: column;
    margin: 10;
    align-items: center;

    .canvas{
        height : $canvasHeight;
        width : $canvasWidht;
        border : solid black 5px;
        cursor : none;
        pointer-events: none;
    }
    .drawingBarRoot{
        display: flex;
        align-items: center;
        // padding: 20;
        justify-content: center;
        // background-color: red;
        width: $canvasWidht;
        .barItem{
            margin : 10px 10px 5px 10px ;
            border : solid 2px;
            font-size : 30px;
        }
        input{
            border: solid 1px;
            margin : 0px;
            padding : 0px;
            height : 30px;
            width : 30px;
        }
        .selected{
            color : blue;
        }
    }
}
.cursor{
    height : 40px;
    width : 40px;
    border-radius : 50%;
    background-color : black;
    border: solid white .5px;
    position : absolute;
    pointer-events : none;
}